@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
    --background-color: #e7e3c0;
    --primary-color: #41ca9d;
    --primary-color-50: #3dd3a150;
    --secondary-color: #AAB8A8;
    --lime-green: #d823df;
    --white: #EDEDED;
    --cinza: #cbced365;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

.stars {
    display: flex;
    align-items: end;
    position: relative;
  }
  .stars input {
    display: none;
  }
  
  .stars > label {
    width: 26px;
    height: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    color: orange;
  }
  
  .stars > label::before {
    content: "\2606";
    position: relative;
    line-height: 26px;
  }
  
  .stars > .true::before {
    content: "\2605";
  }

  textarea {
    font-family: 'Inter', sans-serif;
  }
  